<template>
  <div class="wrapper">
    <div class="container">
      <div class="section">
        <h1 class="title-1">Terms And Condition</h1>
        <div class="content">
          <p>This Member Agreement between the MJ Supreme Member (“you”, the “Member”) and MJ Supreme Pvt. Ltd. (“MJ
            Supreme”, “us”, “we”, “our”), a company registered under section 16 of the Companies Act. 2017 ( XIX of
            2017) with its registered office at 1st Floor,
            Office # 101, Moona Chamber, Main University Road, Gulshan-e-Iqbal, 13-C Gulshan Town Sindh Karachi
            Corporate Universal Identification No. ADR-1/0119107 is entered into in consideration of the mutual
            promises and commitments contained herein and these
            Terms & Conditions and any and all documents referred to in them (the “Terms”) stipulate the MJ Supreme
            rules, principles and rights & obligations for Consultants and constitute, when you accept them, a binding
            agreement between MJ Supreme and you.
            We therefore advise you to print or save and retain a copy of these Terms. </p>
          <p>We reserve the right to revise these Terms. The date of the latest update may be found at the end of the
            Terms. We will inform you of such changes as explained in these Terms on your registered email. You are
            responsible for keeping yourself up to date
            with any such changes.</p>
          <h2>1. DEFINITIONS </h2>
          <p>The following definitions are used throughout these Terms:</p>
          <p>i. MAF shall mean the Member Application Form that is required to be signed for becoming a Member;</p>
          <p><h5>ii. Catalogue Period:</h5> The period indicated on the cover of each Catalogue during which the offers from a given MJ Supreme Catalogue are valid; <br>
         
            a. Code of Ethics and Rules of Conduct: the set of binding rules,<br>
            b. Constituting part of the MJ Supreme Success Plan,<br>
            c. MJ Supreme Brochure governing the behavior of the Members towards MJ Supreme, towards Customers and towards other MJ Supreme Members;</p>
          <p><h5>iii. Customer: </h5>Any natural person, who purchases MJ Supreme Products through a registered Member and who,
            while doing so is acting wholly or mainly outside his/her trade, business, craft or profession; </p>
          <p><h5>iv. Group:</h5> Shall refer to the entire downline, including 20% Members and their downline </p>
          <p><h5>v. Incentive:</h5> Shall mean an amount you get on the Group sales as per the Success Plan; </p>
          <p><h5>vi. MJ Supreme Catalogue, Catalogue: </h5>A paper or electronic brochure issued periodically by MJ Supreme that includes MJ Supreme Product offers and their retail prices;</p>
          <p><h5>vii. MJ Supreme Group:</h5> MJ Supreme, its ultimate holding company, and any entity that is controlled directly or indirectly by that ultimate holding company; </p>
          <p><h5>viii. MJ Supreme Products, Products:</h5> SIDC (Super Income Discount Card) and the related Products as well as Merchants Discounts offered for sale under the MJ Supreme Trademarks;</p>
          <p><h5>ix. The Catalogue</h5> Describes the Products’ main characteristics; </p>
          <p><h5>x. MJ Supreme Literature:</h5> Shall mean the Success Plan (containing the Policy Manual). The Member’s Manual,
            Code of Ethics and Rules of Conduct, the Product Catalogues, the Product Guide, the bimonthly Newsletter (Interface), MJ Supreme Brochure and any
            other literature(s) printed by MJ Supreme. </p>
          <p><h5>xi. MJ Supreme Success Plan: </h5>Shall mean the document explaining the business opportunity with MJ Supreme.<br>
            It helps you to create your own business through selling MJ Supreme quality products and offer the business
            opportunity to others. </p>
          <p><h5>xii. MJ Supreme Brochure:</h5> It is a concise, easier and existent document/version of Success Plan; <br>the
            document explaining business opportunity that MJ Supreme offers;</p>
          <p><h5>xiii. MJ Supreme Trademarks:</h5> The name MJ Supreme, the MJ Supreme logo and the name of the products or the
            product ranges produced, marketed, sold or distributed by us;</p>
          <p><h5>xiv. Personal Data:</h5> The details provided by you upon your registration as a Members withMJ Supreme as well
            as any additional information about you that you may provide us with from time to time as more particularly
            described in the Privacy Policy. </p>
          <p><h5>xv. Prices:</h5> The prices of the MJ Supreme Products set by MJ Supreme and displayed on the pricelists valid at the time of placing of the purchase order; Territory: shall mean Pakistan; </p>
          <p><h5>xvi. Trade Discount:</h5> Shall mean an amount you get on your own sales based on your title as per the Success Plan.</p>
          <h2>2. REGISTRATION AND MEMBERSHIP</h2>
          <p><h5>2.1.</h5> You will be registered as an MJ Supreme Members after we have accepted your application and have
            granted you a unique Member number. The conditions of your acceptance as an MJ Supreme Member are
            stipulated in the Membership Rules section of the Code
            of Ethics and Rules of Conduct. </p>
          <p><h5>2.2.</h5> You will be required to provide your valid Identity and Address Proof at the time of registration.
          </p>
          <p><h5>2.3.</h5> You will have an option to buy a business kit, a set of documents and manuals helping to start your
            association with us which in case you want, will be billed on your first or subsequent purchase invoice.
          </p>
          <p><h5>2.4.</h5> An applicant has no limit of age to be a Members. </p>
          <p><h5>2.5.</h5> Both you and MJ Supreme may at any time terminate your membership as stipulated further in the Terms.
          </p>
          <p><h5>2.6.</h5> Your Health Card will expire immediately from the date of last BP order placed. Further, all new
            registration will be terminated if BP order is not placed within 60 days of joining. However, it is
            clarified that in such case prospectus can re-apply
            for registration with the Company </p>
          
          <p><h5>2.7.</h5> Upon your registration: </p>
          <p><h6>2.7.1</h6> You will be entitled to buy MJ Supreme Products in accordance with these Terms as well as use the
            other benefits set out in the MJ Supreme Success Plan; </p>
          <p><h6>2.7.2 </h6>You will be obliged to adhere strictly to the rules of these Terms including the rules of any
            documents referred to in them. </p>
            <p><h5>2.8.</h5> The membership is personal to you and cannot be assigned or transferred to any other person without
            our prior written consent and as provided in Code of Ethics and Rules of Conduct. </p>
          <p><h5>2.9.</h5> Your MJ Supreme ID Card and training manual will be sent to you on your email ID or shall be provided
            to you in your profile page with MJ Supreme. </p>
          <h2>3. RIGHT OF WITHDRAWAL (COOLING OFF) AND EFFECTS OF THE MEMBERSHIP RESIGNATION</h2>
          <p><h5>3.1.</h5> You can at any time resign your membership by sending us a written notice of same </p>
          <p><h5>3.2.</h5> If you resign within 14 days from the date of your registration we will refund you all fees and costs
            and will accept the return of all Products bought by you. For reasons of safety and hygiene we may refuse
            to accept Products that have been unsealed
            or not in saleable condition. </p>
          <p><h5>3.3.</h5> If you resign at any later time except in case of violation of the Terms, upon your request, we will
            repurchase all Products from you, subject to the following conditions: </p>
          <p><h6>3.3.1</h6> returns must be made within 1 month from date of purchase, and will be refunded at 90% of the
            original net price paid after deduction of any payment we have made to you in relation to the purchase of
            these Products; and </p>
          <p><h6>3.3.2</h6> the returned Products must be marketable, meaning that they have not been used, opened or tampered
            with in any way; they have not passed the expiry date and they are still featured in our Catalogues. </p>
          <h2>4. Agreement Acceptance</h2>
          <p><h5>4.1 </h5>You agree to have read and understood and shall abide by the Code of Ethics and Rules of Conduct, the
            Privacy Policy, Negation Policy, Guarantee of Excellence Claims Policy and Success Plan as provided on
            www.MJ-Supreme.com. </p>
          <p><h5>4.2 </h5>Consultants must adhere to the Consultant Online Policy & Social Media Dialogue – 10 Golden Rules as
            prescribed in Success Plan. </p>
          <h3>5 (A). PLACING AN ORDER </h3>
          <p><h5>5.1 </h5>You may place orders from the Catalogue by selecting the Products you wish to buy. Placing of the
            order is considered to be an offer made by you to us to buy the selected Products. </p>
          <p><h5>5.2 </h5>An order is considered to be placed when the following steps have been completed: </p>
          <p><h6>5.2.1 </h6>if ordering by telephone, you have told our customer services employee which Products you wish to
            purchase who has selected them for you; or </p>
          <p><h6>5.2.2</h6> if ordering online, you have selected the Products you wish to purchase by using the option “add to
            shopping cart”; you may at any time review and modify the content of the shopping cart by changing the
            quantity of Products, deleting Products or
            removing the entire content of the shopping cart; </p>
          <p><h6>5.2.3</h6> you have provided the Personal Data necessary to allow delivery and have accepted that we can use
            this data for the purposes set out in our Privacy Policy; and </p>
          <p><h6>5.2.4</h6> you have selected your preferred method of delivery and payment. </p>
          <p><h5>5.3</h5> Once your online order is placed, it cannot be changed via the website; you will need to contact
            Customer Services at 011-40409000 or 011-66259000 </p>
          <p><h5>5.4 </h5>When we have accepted your order, an order confirmation will be sent to you by e-mail at which point
            the purchase contract will come into existence. We may refuse to accept your order without stating a reason
            for rejection. We will refund in full
            any payment you have already made. </p>
          <p><h5>5.5</h5> In addition to the order confirmation you will receive details of your Products shipped to you and all
            other necessary information. </p>
          <p><h5>5.6</h5> If you order online, please note the following: </p>
          <p><h6>5.6.1</h6> the concluded contract will not be filed or accessible: the parts of the contract will be your order
            and the Terms on the site (which may be saved or printed) or as may be communicated by us using other means
            of communication; </p>
          <p><h6>5.6.2</h6> the contract may only be concluded in English and not in any other languages; </p>
          <p><h6>5.6.3</h6> MJ Supreme subscribes to the codes of conduct set out in clause 10 of the Terms. </p>
          <p><h5>5.7</h5> Orders completed and paid for cannot be cancelled by you, except as described in clause 6. </p>
          <p><h5>5.8 </h5>Orders can be placed at any time during the day save for certain limited unavailability at Catalogue
            Period closing when we update the Catalogue. </p>
          <p><h5>5.9 </h5>Not all Products will be available at all times. If a Product is out of stock at the time you place
            your order, we will use reasonable endeavors to inform you before your order is finalized so that you can
            change or abandon the order. </p>
          <p><h5>5.10 </h5>The Catalogue may occasionally, and for limited periods of time, not be available due to maintenance
            or for various technical reasons. MJ Supreme will not be responsible for such unavailability and will
            reject any claims thereof by Customers or by
            other visitors. </p>
          <p><h5>5.11 </h5>For details on how to place order, make payment, delivery and related information please visit the
            Customer Service section on our website www.MJ-Supreme.com</p>
          <h3>5 (B). PRICES AND PAYMENT </h3>
          <p><h5>5.12 </h5>We may exceptionally allow you to place orders for others by using a specific online tool. This will
            only be possible for your downline consultants (except in case of SPO order), as explained in the MJ
            Supreme Success Plan, and only based on their
            explicit authorization. If you use this tool you will be solely responsible for any claims based on
            unauthorized ordering and generally any privacy violations as well as for any costs and expenses that MJ
            Supreme or the person you have placed the
            order for may incur in relation to this order. </p>
          <p><h5>5.13</h5> Except where noted otherwise, the Prices of the Products displayed in the Catalogue represent the
            full retail price for the Products at the moment the order is placed. All Prices are shown in local
            currency and are inclusive of all applicable taxes.
          </p>
          <p><h5>5.14</h5> We reserve the right to change the Prices at any time and in our sole discretion, but any change to
            the Prices of Products you select before placing your order will not form part of the contract between us
            unless you and we expressly agree that it
            will. </p>
          <p><h5>5.15</h5> The Prices do not include the costs of transport, delivery and any other fees and charges that are
            clearly indicated as being additional charges to the price during the ordering process and that may vary
            depending on the delivery method chosen by
            you. </p>
          <p><h5>5.16</h5> The Prices may be discounted by us from time to time. Further discount may be provided to you in
            accordance with the MJ Supreme Success Plan. These may not always be indicated on your purchase invoices.
            You can always address any inquiries about
            Price calculations to Customer Services at info@MJ-Supreme.com </p>
          <p><h5>5.17</h5> Payments can be made by credit card, by bank transfer or by other means specified in this Policy or
            the modes provided under the Payment section under Customer Support available at the website
            www.mj-supreme.com. Most of major payment cards are accepted.
          </p>
          <p><h5>5.18</h5> For the purposes of payment collection, we cooperate with various third-party service providers. You
            may expect to receive invoices and communication about the payment from this external service provider. As
            a rule, all guarantee credit and personal
            credit orders must be paid within 21 days according to the instructions noted therein or such number of
            days as may be prescribed from time to time. Late payments interest may be charged on a daily basis at the
            prevailing Territory Central Bank interest
            rate as well as the reasonable costs of recovering the debts. </p>
          <p><h5>5.19</h5> For further information about payment methods including any possible credit terms please contact
            Customer Services at 011-40409000 or 011-66259000 </p>
          <p><h5>5.20 </h5>For the safety of online payments made with card, all payment information is encrypted. As MJ Supreme
            works with authorized payment service providers, credit card information is handled properly and in
            accordance with applicable laws. </p>
          <p><h5>5.21</h5> For information related to payment mode and methods please visit the Customer Service section on our
            website www.mj-supreme.com</p>
          <h3>5 (C). DELIVERY AND TRANSFER OF RISK </h3>
          <p><h5>5.22</h5> The ordered Products can only be delivered within the Territory. </p>
          <p><h5>5.23</h5> The place of delivery of the Products will be as provided by you at the time of placing the order or
            as updated in MJ Supreme records from time to time. </p>
          <p><h5>5.24</h5> We will process and deliver your order as quickly as possible but no later than timelines provided
            for each region under the Ordering Section in Customer Service on MJ Supreme website after the order has
            been confirmed by us. We shall not be liable
            for delays in delivery caused by circumstances beyond our control. </p>
          <p><h5>5.25</h5> The risk of loss of Products and title to the Products will pass to you upon delivery of the
            Products. </p>
          <p><h5>5.26</h5> MJ Supreme will not be responsible for non-delivery, wrong or late delivery of an order caused by the
            provision by you of incorrect or incomplete Personal Data. </p>
          <p><h5>5.27</h5> We reserve the right to reject an order placed by you at any time if we reasonably suspect that you
            are in breach of any of the Terms. </p>
          <h3>5 (D). CONFORMITY OF OUR PRODUCTS </h3>
          <p><h5>5.28</h5> We warrant that the MJ Supreme Products are manufactured in accordance with the best standards for
            good manufacturing practices and the MJ Supreme code of practice. </p>
          <h2>6 RIGHT TO CANCEL ORDERS </h2>
          <p><h5>6.1 </h5>Upon receipt of the delivery, you should check its content to make sure that it does not contain any
            Products that might have been damaged during transportation. You, or the person receiving the Products in
            your name, must notify Customer Services
            immediately by submitting a claim and describing the damage/defect under the Guarantee of Excellence Claim
            Policy available on our website www.MJ-Supreme.com after you login. Rights of return and refund </p>
          <p><h5>6.2</h5> You may cancel an order for Product(s) without giving any reason within 30 days from the date of
            invoice in the following manner. This means that within a period of 30 days from date of invoice and in the
            manner provided in the Guarantee of Excellence
            Claims Policy and subject to the Negation Policy, if you for any reason decide, you do not want to keep a
            Product, you can notify us of your decision to cancel the order and receive a refund. </p>
          <p><h5>6.3</h5> You may cancel an order at any time even after you have received the order confirmation by e-mail or
            after your order has been verbally accepted by Customer Services but no later than 30 days from the day you
            receive physical possession of the Product
            or the last of the Products if you ordered more than one. </p>
          <p><h5>6.4 </h5>To cancel an order, please contact Customer Services by e-mailing us at: info@mj-supreme.com or raise
            your complaint online. You just need to exercise your right to cancel before the cancellation period has
            expired. Therefore, if you send us your
            cancellation notice by e-mail or by post, then your cancellation is effective from the date you sent us the
            e-mail. If you call to notify us of your cancellation, then your cancellation is effective from the date
            you telephone us. </p>
          <p><h5>6.5</h5> You will receive a full refund of the Price you paid for the Products (except for the supplementary
            costs arising if you choose a type of delivery other than the least expensive type of standard delivery
            offered by us). We may make a deduction from
            the refund for loss in value of any Products supplied, if the loss is the result of unnecessary handling by
            you. You are only liable for any diminished value of the Products resulting from the handling other than
            what is necessary to establish the
            nature, characteristics and functioning of the Products. We will process the refund due to you as soon as
            possible and, in any case, within (a) 45 working days after the day we receive back from you any Products
            supplied, (b) if no Products were supplied,
            30 working (business)days after the day on which you gave us notice of cancellation. </p>
          <p><h5>6.6</h5> If you have returned the Products to us because they are faulty or mis-described, we will refund the
            price of a defective Product in full, any applicable delivery charges, and any reasonable costs you incur
            in returning the item to us (please refer
            to Guarantee of Excellence Claims Policy on MJ Supreme website for process). </p>
          <p><h5>6.7</h5> Subject to clause 6.2, we refund you in your account with MJ Supreme or your bank account, at your
            option and in any event, you will not incur any fees as a result of the refund. </p>
          <p><h5>6.8</h5> If the Products were delivered to you: </p>
          <p><h6>6.8.1</h6> you must return the Products to us without undue delay and in any event not later than 14 days after
            the day on which you cancel the order/contract. The deadline is met if you send back the Products before
            the period of 14 days has expired; </p>
          <p><h6>6.8.2</h6> unless the Products are faulty, you will be responsible for the direct cost of returning the
            Products to us; and </p>
          <p><h6>6.8.3</h6> you have a legal obligation to keep the Products in your possession and to take reasonable care of
            the Products while they are in your possession. </p>
          <p><h5>6.9</h5> We further guarantee the quality of any Product which carries the MJ Supreme name and certify that
            they are manufactured by, or for us meet the highest standards of quality. We are confident that our
            Customers will find our Products satisfactory in
            every way. We therefore offer a further MJ Supreme guarantee that allows you to exchange, or get a full
            refund for any Product you are not completely satisfied with. The refund shall be claimed within 30 days
            from your receipt of the Product as detailed
            in Guarantee of Excellence Claims Policy. This guarantee does not apply to any Product intentionally
            damaged or misused. Returns and refunds under this clause shall be made in accordance with the terms of the
            preceding paragraphs of this clause 6.
          </p>
          <h2>7 OBLIGATIONS OF THE MJ SUPREME SALES CONSULTANT </h2>
          <p><h5>7.1 </h5>You agree to present, promote and sell MJ Supreme Products using direct-to-consumers methods only and
            not to sell to, sell in, demonstrate or display MJ Supreme products in any retail outlet of any nature
            including any retail/e-commerce website, whether
            in Pakistan or abroad unless you have an express prior written consent from MJ Supreme </p>
          <p><h5>7.2 </h5>Consultants buy and may sell the MJ Supreme Products in their own name and on their own account.
            Should you choose to trade with the MJ Supreme Products you will be considered, and shall at all times act
            as an independent person (self-employed/sole
            trader) and not as an MJ Supreme agent or employee and working on principal to principal basis. You shall
            not have any authority to negotiate, buy, sell or generally conclude any agreements in our name or on our
            behalf or in the name and on behalf
            of any other company in the MJ Supreme Group. </p>
          <p><h5>7.3</h5> Should you chose to trade with the MJ Supreme Products you must obtain for yourself all permits,
            licenses, and generally make any and all registrations required under the relevant laws of the Territory
            for the performance of an independent business
            practice, including any data protection registration and tax registration. You are solely responsible for
            the reporting and payment of any taxes, duties and fees applicable to such activity. You are solely
            responsible for ensuring all aspects of your
            use of your Customers' personal data complies in all respects with national data protection and privacy
            laws. A direct seller shall keep and maintain proper books of accounts stating the details of the products,
            price, tax and the quantity and such
            other details in respect of the goods sold by him / her, in such form as per prevailing law. In the event
            of a change in the law post signing of Terms, including the introduction of GST, the Consultant shall
            comply with all provisions of such new
            law. </p>
          <p><h5>7.4 </h5>We allow the return and exchange of Products as described in the Terms for your Customers as well as
            for you. You acknowledge that it is your responsibility to inform your Customers of their right to return
            the Products, and you shall make any return
            of Products to us on their behalf. </p>
          <p><h5>7.5</h5> You should carry your valid MJ Supreme identity card along with government recognized ID card while
            conducting your MJ Supreme business and solicit prior approval before visiting any customer’s premises. </p>
          <p><h5>7.6</h5> You shall uphold the image and reputation of MJ Supreme. You shall not make any statements, nor
            perform any acts, which might be detrimental to the image of MJ Supreme or the Products. You shall operate
            your business in a lawful and ethical manner
            and not make any false, misleading or exaggerated claims about the Products. </p>
          <p><h5>7.7</h5> You acknowledge that the MJ Supreme Trademarks, our trade name and logo are the property of MJ Supreme
            and you agree not to infringe them in any way. For avoidance of doubt, all goodwill in the MJ Supreme name
            accrues to MJ Supreme. At our request
            you will sign such documentation as we reasonably request to confirm this. </p>
          <p><h5>7.8</h5> When presenting the MJ Supreme Products to consumer, you will strictly observe the Code of Ethics and
            Rules of Conduct. </p>
          <p><h5>7.9</h5> You must also ask Customers expressly whether or not they wish to receive commercial communications
            about MJ Supreme products from you, keep a record of their marketing preferences and respect those
            preferences. </p>
          <p><h5>7.10</h5> We explicitly disclaim any liability for any penalties, costs, fees and generally any expenses that
            you may incur as the result of any breach of applicable data protection and privacy laws. </p>
          <p><h5>7.11</h5> If you wish to sponsor a Customer to become a Consultant you may collect certain personal information
            directly from the Customer. You must strictly follow our procedures for sponsorship from time to time. You
            will have the limited right to process
            that Customer’s personal information only for the purposes of forwarding the personal information to MJ
            Supreme and of sending that Customer commercial communications (i.e. communications designed to promote,
            directly or indirectly, the goods, services
            or image of a company) subject to certain conditions as described below. </p>
          <p><h5>7.12</h5> Our online tools may allow you to use a Customer’s personal information to send commercial
            communications, strictly subject to the following conditions: </p>
          <p><h6>7.12.1</h6> you must have sponsored the Customer to become a Consultant, unless otherwise expressly agreed, </p>
          <p><h6>7.12.2 </h6>such commercial communications concern only MJ Supreme Products, </p>
          <p><h6>7.12.3</h6> the commercial communication shall be clearly identifiable as such, </p>
          <p><h6>7.12.4</h6> the communication includes your name and contact details as the sender of the commercial
            communication and a valid email address at which Customers can reach you to notify you of their preference
            to opt out of further commercial communications,
          </p>
          <p><h6>7.12.5</h6> commercial communications must not be sent to Customers that have opted out of receiving them, </p>
          <p><h6>7.12.6</h6> promotional offers, such as discounts, premiums and gifts, where permitted by applicable law, shall
            be clearly identifiable as such, and the conditions which are to be met to qualify for them shall be easily
            accessible and be presented clearly
            and unambiguously, and </p>
          <p><h6>7.12.7</h6> the content of such commercial communications is compliant with these Terms and all applicable law
            regarding commercial communications. </p>
          <p><h5>7.13</h5> Under no circumstances are you permitted to send commercial communications on behalf of MJ Supreme or
            in MJ Supreme name. </p>
          <p><h5>7.14</h5> You expressly agree to share your personal data with MJ Supreme and the MJ Supreme Group for purpose
            of performance of MJ Supreme’s obligation under the Agreement. </p>
          <p><h5>7.15</h5> The MJ Supreme Consultants shall not use misleading, deceptive and/or unfair trade practices
            including but not limited to unfair recruiting practices, misrepresentation of actual or potential sales or
            earnings, business opportunity, and advantages
            of direct selling to any prospective direct seller, in their interaction with prospective direct seller.
          </p>
          <p><h5>7.16</h5> The MJ Supreme Consultant shall not provide any MJ Supreme Literature and / or traini ng materials
            not restricted to collateral issued by MJ Supreme or any information, to a prospective and / or existing
            direct seller or float any scheme which has
            not been approved by the MJ Supreme </p>
          <p><h5>7.17</h5> The MJ Supreme Consultant shall not require prospective or existing direct Sellers to purchase any MJ
            Supreme Literature or training materials or sales demonstration equipment </p>
          <p><h5>7.18</h5> An MJ Supreme Consultant shall not compel or force others to order through him/ her, order any
            minimum quantities or maintain stock of products. Consultant shall buy products depending upon their
            consumption requirements or selling pattern only such
            quantity or value that can be foreseen to be sold to consumers or consumed within a reasonable period of
            time </p>
          <p><h5>7.19</h5> While approaching a customer/ potential MJ Supreme Consultant, the Consultant shall ensure the
            following: </p>
          <p><h6>7.19.1</h6> Trustfully Identify yourself and explain the purpose of your solicitation and about identity of MJ
            Supreme, nature of MJ Supreme Products. </p>
          <p><h6>7.19.2</h6> Try to answer any and all questions in a fair, truthful and understandable way. </p>
          <p><h6>7.19.3</h6> Refer your contact to the MJ Supreme website where she can read more about the products and the
            claims; specifically, draw her attention to the MJ Supreme complaint handling procedures. </p>
          <p><h6>7.19.4</h6> Offer the prospective consumer, accurate and complete explanations and demonstration of the MJ
            Supreme Products, prices, terms of payment, terms of guarantee. </p>
          <p><h6>7.19.5</h6> Respect the privacy and other personal restraints the person may be under (e.g. time, place,
            physical condition). </p>
          <p><h6>7.19.6</h6> Stop any explanation (and leave) if asked to do so. </p>
          <p><h6>7.19.7</h6> Whenever you are selling MJ Supreme products inform the customer about her right to return them and
            get a refund. </p>
          <p><h6>7.19.8</h6> Provide the following information at the time of sale of Products: </p>
          <p>7.19.8.1 Name, address, registration number or enrolment numbers, identity proof and telephone number of
            the direct seller and details of direct selling entity </p>
          <p>7.19.8.2 A descriptions of the goods or services to be supplied. </p>
          <p>7.19.8.3 Explain to the consumer about the goods return policy of the company in details before the
            transactions, warranty of the goods and replacement procedure in case of defect. </p>
          <p>7.19.8.4 The order date, delivery date, the total amount to be paid by the consumer along with the bill
            and receipt. </p>
          <p>7.19.8.5 Time and place for inspection of the sample and delivery of goods. </p>
          <p>7.19.8.6 Information of his/her rights to cancel the order and / or to return the product in saleable
            condition and avail full refund on sums paid. </p>
          <p>7.19.8.7 Details regarding the complaints redressal mechanism; </p>
          <p><h5>7.20</h5> TRADE DISCOUNT & INCENTIVE: As a Consultant you agree to the following: </p>
          <p><h6>7.20.1</h6> MJ Supreme shall give each Consultant who qualifies (under MJ Supreme rules set out in the Success
            Plan) a Trade Discount based on the volume of purchases from MJ Supreme in each month. This discount will
            normally be calculated and accounted for
            in respect of purchases in a calendar month at the month end. However, MJ Supreme may withhold the Trade
            Discount which is otherwise payable to any Consultant if there is any outstanding in the Group in respect
            of any period beyond the credit period
            or MJ Supreme suspect that payment may not be received against the sales made during any period or for any
            other good reason at the sole discretion and judgement of MJ Supreme and may additionally forfeit the same
            in appropriate cases at the sole
            discretion and judgement of MJ Supreme. Consultants should ensure compliance (as applicable) with the Goods
            and Services Tax law with respect to the aforesaid Trade Discount. </p>
          <p><h6>7.20.2</h6> That every Consultant agrees and authorizes MJ Supreme on its behalf to allocate a portion of
            Incentive (arising out of the activities within the Group) to other consultants as per the Success Plan and
            hereby further assigns all right and interest
            in such allocated Incentive given to other Consultant who may be so entitled. </p>
          <p><h6>7.20.3</h6> As per the requirement of GST law, Consultant would be required to prepare the necessary
            documentation and shall undertake the necessary compliances, as applicable. </p>
          <p><h6>7.20.4</h6> The Incentive will normally be calculated and accounted for in respect of purchases in a calendar
            month at the month end. However, MJ Supreme may withhold the Incentive which is otherwise payable to any
            Consultant if there is any outstanding in
            the Group in respect of any period beyond the credit period or MJ Supreme suspect that payment may not be
            received against the sales made during any period or for any other good reason at the sole discretion and
            judgement of MJ Supreme and may additionally
            forfeit the same in appropriate cases at the sole discretion and judgement of MJ Supreme. </p>
          <h2>8 MJ SUPREME OBLIGATIONS </h2>
          <p><h5>8.1</h5> We will deliver any Products ordered by you subject to availability. </p>
          <p><h5>8.2</h5> We expressly exclude any liability related to Product shortage or Products being out-of- stock. </p>
          <p><h5>8.3</h5> You will receive, directly by us or by another MJ Supreme entity or third party provider, any
            benefits/ payments due to you in accordance with the MJ Supreme Success Plan currently in force. </p>
          <p><h5>8.4</h5> To timely pay the incentive after deducting TDS. It is clarified that the incentive will be paid in
            accordance to the Success Plan and only on the sale of Products.</p>
          <h2>9 TERMINATION </h2>
          <p><h5>9.1</h5> We may terminate your membership with immediate effect by notice in any of the following
            circumstances: </p>
          <p><h6>9.1.1</h6> if you make any statement or provide any Personal Data that is materially inaccurate or untrue; </p>
          <p><h6>9.1.2</h6> if a petition for your bankruptcy is presented to any court or if you are unable to pay your debts
            to us as and when they fall due; </p>
          <p><h6>9.1.3</h6> if you commit a breach of any of the provisions of the Terms that is not capable of remedy or in
            case of a breach of any of the provisions of the Code of Ethics and the Rules of Conduct; or </p>
          <p><h6>9.1.4</h6> if you commit a breach of any of the provisions of the Terms, including the documents referenced to
            herein and fail to explain to our satisfaction or in case of breach capable of remedy, to remedy that
            breach within 30 days after receipt of a written
            notice from us. </p>
          <p><h5>9.2</h5> Your registration as Consultant will expire if you have not placed an order for a consecutive period
            of 2 years from the date of last BP order placed </p>
          <p><h5>9.3</h5> Notwithstanding anything contrary contained herein, your membership shall stand terminated with
            immediate effect in the event of provision of an incorrect / invalid Identity and Address proof. </p>
          <p><h5>9.4</h5> MJ Supreme shall have the right to stop your cash award/ PD/ bonus including other benefits of
            membership with immediate effect in the event you are found violating the Terms or pending investigation.
          </p>
        <p>  <h2>10 CODE OF CONDUCT MJ Supreme strictly adheres to the Code of Conduct of IDSA and the World Federation of
            Direct Selling Associations (WFDSA) (http://www.wfdsa.org/files/world-codes/code-book.pdf).</h2> MJ Supreme
            requires its Consultants to strictly adhere
            to these codes as further implemented in the MJ Supreme Code of Ethics and Rules of Conduct. </p>
          <h2>11 ERRORS AND CORRECTIONS </h2>
          <p>While we use reasonable efforts to include accurate and current information on this website, we do not
            warrant or represent that the website will be error-free. Data entry errors or other technical problems may
            sometimes result in inaccurate information
            being shown. We reserve the right to correct any inaccuracies or typographical errors on our site,
            including pricing and availability of products and services, and shall have no liability for such errors.
            We may also make improvements and/ or changes
            to the site's features, functionality, or content at any time. If you see any information or description
            you believe to be incorrect, please contact Customer Services. </p>
          <h2>12 LINKS </h2>
          <p>We may provide links to third party websites or resources. Our provision of such links is not an
            endorsement of any information, product or service reached through such link. We are not responsible for
            the content or performance of any portion of the
            internet including other websites to which this site may be linked for or that can be accessed by this
            site. Please inform us of any errors or inappropriate material found on websites to which this site is
            linked. </p>
          <h2>13 GENERAL PROVISIONS </h2>
          <p><h5>13.1 </h5>These Terms are governed by the laws of the Territory and any disputes arising out of, or in
            connection with the Terms shall be submitted to binding arbitration and shall be referred to sole
            arbitrator appointed in accordance with the applicable
            law. The venue of such arbitration shall be at New Delhi and the award of the Arbitrator shall be final and
            binding on all parties. The Court of New Delhi shall have jurisdiction in relation to this Arbitration and
            any award arising therefrom. </p>
          <p><h5>13.2</h5> If any provision of the Terms is held to be unlawful, void or for any reason whatsoever
            unenforceable, the invalidity of that provision shall not affect the validity of the rest of the Terms. </p>
          <p><h5>13.3</h5> The failure of MJ Supreme to enforce any of the provisions herein shall not be deemed a waiver of
            their enforceability. </p>
          <p> i. We reserve the right to update and amend these Terms. Any change or update will become effective from the
            moment of its publication on our website www.mj-supreme.com. <br>
            ii. Any such changes will be considered accepted if you continue to order Products after
            the changes have been implemented. </p>
          <p><h5>13.4</h5> Unless you opt otherwise we may send you alerts, notifications, e-mail, direct mail and generally
            communicate with you. You can update your preferences for marketing communications from us at any time by
            logging into your user settings. By accepting
            these Terms you agree that MJ Supreme will send you any other information/ communications regarding your
            contract and/ or your purchase orders on durable medium other than paper (i.e. via e-mail or any other
            means addressed personally to you that
            allow you to store the information in a way accessible for future reference for a long enough period and
            that also allows you the unchanged reproduction of such information). </p>
          <p><h5>13.5</h5> The notice period for any notice given under these Terms shall start on the date that the notice is
            posted by registered post. If notice is given by any other means, the notice period shall start running on
            the day of receipt of the notice. This
            does not apply to informing us of returns under Guarantee of Excellence Claims Policy and otherwise stated
            in the Terms, the time period for returns runs from the date you inform us that you wish to return the
            Product. </p>
          <h2>14 PRIVACY POLICY </h2>
          <p><h5>14.1</h5> When you register as a Consultant, you expressly agree that MJ Supreme, the MJ Supreme Group and its
            authorised third parties (i.e. Consultants, third party suppliers and third party service providers) may
            store, use and process (including through
            automatic means) your Personal Data. We do so to comply with our obligations to you under these Terms as
            well. </p>
          <p><h5>14.2</h5> We undertake to keep all Personal Data confidential and secure (although we reserve the right to
            disclose this information in the circumstances set out below). We will keep it on a secure server and we
            will fully comply with all applicable data protection
            and consumer legislation from time to time in place. </p>
          <p><h5>14.3</h5> We confirm that any Personal Data which you provide to us and any information from which we can
            identify you (“User Information”), is held and used in accordance with our Privacy Policy and for purposes
            herein described, especially the following:
          </p>
          <p><h6>14.3.1</h6> for processing your orders; </p>
          <p><h6>14.3.2</h6> for statistical or survey purposes to improve our sites, on-line tools and our services to you; </p>
          <p><h6>14.3.3</h6> for serving website content and advertisements to you; </p>
          <p><h6>14.3.4</h6> for administering of our sites; </p>
          <p><h6>14.3.5</h6> for communicating with you including sending you any marketing material you have not opted out of receiving. constituted a Grievance Redressal Committee. All complaints related to
            Products may be directed to the MJ Supreme Customer Services at info@MJ-Supreme.com or raised online on the
            claims portal as per the Guarantee of Excellence
            Claims Policy; for complaints related to the Code of Ethics please contact your Area Manager or Senior Area
            Manager. It is clarified that MJ Supreme has a redressal mechanism for handling complaints related to
            breach of the Terms, Rules and Code,
            handled by COE Committee headed by designated officers of the Company. We will make every reasonable effort
            to address your concerns and remedy any problems you bring to our attention. </p>
          <p><h5>14.4</h5> When we provide your Personal Data to authorised third parties we will provide only Date: 17.04.2018
            such Personal Data that is needed by them to perform their services under clause 14.1. All authorised third
            parties are explicitly prohibited from
            using any Personal Data for any other purposes and from sharing any Personal Data with anyone other than us
            or as may be required by law. </p>
          <p><h5>14.5</h5> You should be aware that if we are requested by the police or any other regulatory or government
            authority investigating suspected illegal activities to provide your Personal Data and /or User
            Information, we are entitled to do so. </p>
          <p><h5>14.6</h5> You are entitled to inspect your Personal Data at any time. You can update your Personal Data by
            contacting Customer Services. </p>
          <p><h5>14.7</h5> If you have been registered as an MJ Supreme Consultant before, when you register on this site you
            also accept that some of your Personal Data may be transferred from the MJ Supreme entity you have been
            originally registered with to MJ Supreme Pakistan
            Private Limited. We may transfer any Personal Data provided by you, such as, without limitation: your
            consultant number, name, address, telephone number, e-mail address as well as information about whether you
            wish to receive marketing material from
            us. </p>
          <p><h5>14.8</h5> Upon registering as an MJ Supreme Consultant you acknowledge and accept that we may send you
            information about offers and promotions, unless you opt out. MJ Supreme may analyse your Personal Data in
            order to provide you with offers and information
            better tailored to your interests and specific shopping history. By accepting these Terms you give your
            explicit consent to such analysis. </p>
          <p><h5>14.9</h5> Further rights and obligations are contained in the MJ Supreme Privacy Policy </p>
          <h2>15 INDEMNITY </h2>
          <p>In the event the Consultant breaches or violates any of the provision of any applicable law or policies /
            procedures applicable to the MJ Supreme business of the Consultant including but not limited to the direct
            selling guidelines and consumer protection
            laws issued by the ministry of Consumer Affairs, the Consultant agrees to indemnify MJ Supreme for all
            costs including expenses, penalties, third party claims, that may accrue to MJ Supreme on account of any
            such violation/ breach by the Consultant.
          </p>
          <h2>16 COMPLAINT HANDLING/ CONTACT US </h2>
          <p>The Company has robust system for handling any complaints for which the Company has.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {};
</script>

<style lang="scss" scoped>
  .wrapper {
    /deep/ {
      .content {
        margin-top: 2rem;

        p {
          font-weight: 500;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }
</style>