<template>
  <div class="section form">
    <div class="columns is-variable is-1">
      <div class="column">
        <b-field
          label="Shop Name"
          :type="(validation.hasError('form.full_name')) ? 'is-danger':''"
          :message="validation.firstError('form.full_name')"
        >
          <b-input type="text" placeholder="ABC Shopping Store" v-model="form.full_name"></b-input>
        </b-field>
      </div>
      <div class="column">
        <b-field
          label="Shop Owner Name"
          :type="(validation.hasError('form.full_name1')) ? 'is-danger':''"
          :message="validation.firstError('form.full_name1')"
        >
          <b-input type="text" placeholder="Lorem Ipsum" v-model="form.full_name1"></b-input>
        </b-field>
      </div>
    </div>
    <div class="columns is-variable is-1">
      <div class="column">
        <b-field
          label="Shop Address"
          :type="(validation.hasError('form.full_name2')) ? 'is-danger':''"
          :message="validation.firstError('form.full_name2')"
        >
          <b-input type="text" placeholder="ABC Shopping Store" v-model="form.full_name2"></b-input>
        </b-field>
      </div>
      <div class="column">
        <b-field
          label=" Owner Number"
          :type="(validation.hasError('form.cont_num')) ? 'is-danger':''"
          :message="validation.firstError('form.cont_num')"
        >
          <b-input
            type="tel"
            placeholder="03xx-xxx-xxxx"
            v-model="form.cont_num"
            v-mask="'03##-###-####'"
          ></b-input>
        </b-field>
      </div>
    </div>
    <div class="columns is-variable is-1">
      <div class="column">
        <b-field
          label="Shop Email"
          :type="(validation.hasError('form.email')) ? 'is-danger':''"
          :message="validation.firstError('form.email')"
        >
          <b-input
            type="email"
            placeholder="(example: shabir@gmail.com)"
            v-model="form.email"
            :loading="validation.isValidating('form.email')"
          ></b-input>
        </b-field>
      </div>

      <div class="column">
        <b-field
          label="Shop Number"
          :type="(validation.hasError('form.cont_num1')) ? 'is-danger':''"
          :message="validation.firstError('form.cont_num1')"
        >
          <b-input
            type="tel"
            placeholder="0213-XXX-XXXX"
            v-model="form.cont_num1"
            v-mask="'0213-###-####'"
          ></b-input>
        </b-field>
      </div>
    </div>
    <div class="columns is-variable is-1">
      <div class="column">
        <b-field
          label="Authorized By"
          :type="(validation.hasError('form.full_name3')) ? 'is-danger':''"
          :message="validation.firstError('form.full_name3')"
        >
          <b-input type="text" placeholder="Merchant Maker Name" v-model="form.full_name3"></b-input>
        </b-field>
      </div>
    </div>
    <div class="columns is-variable is-1">
      <div class="column">
        <h1>
          <b>
            <u>Authorization</u>
          </b>
        </h1>
        <ul>
          <li>
            - There is
            <b>NO CHARGE</b> for participating Supreme Income Discount Card Programs
          </li>
          <li>- Supreme Income Discount Card offers custmized discount cards to local oganizations for fundraising. We work with a variety of groups in the community, such as schools, sports leagues and travel teams</li>
          <li>- These organizations review our list of participating merchants and choose which business is to feature on their cards. Discounts are typically valid for one year from the date an organization begins its discount card fundraising campaign.</li>
          <li>- You may modify your discount or suspend your participation in our program with 30 days' notice to Supreme Income Discount Card. In order to maintain the quality of the program, you are expected to honor the existing cards/discounts in circulation through their expiration date.</li>
          <li>- By accepting the terms and conditions, you agree to participate and that you have the authorization to approve this agreement.</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { mask } from "vue-the-mask";
import SimpleVueValidation from "simple-vue-validator";
const Validator = SimpleVueValidation.Validator;
export default {
  directives: {
    mask
  },
  data() {
    return {
      ref_name: "",
      ac_crct: "",
      crct_list: [],
      brn_list: [],
      isFetching: false,
      isLoadingBrn: false,
      form: {
        full_name: "",
        email: "",
        password: "",
        cont_num: "",
        sel_crct_id: null,
        sel_brn_id: "",
        address: "",
        ref_code: ""
      }
    };
  },
  watch: {
    "form.sel_crct_id": function(val) {
      this.brn_list = [];
      this.form.sel_brn_id = "";
      if (val !== null) {
        this.loadBrnList(val);
      } else {
        this.isLoadingBrn = false;
      }
    }
  },
  validators: {
    "form.full_name": function(value) {
      return Validator.value(value)
        .required()
        .minLength(3)
        .maxLength(50);
    },
    "form.full_name1": function(value) {
      return Validator.value(value)
        .required()
        .minLength(3)
        .maxLength(50);
    },
    "form.full_name2": function(value) {
      return Validator.value(value)
        .required()
        .minLength(3)
        .maxLength(50);
    },
    "form.full_name3": function(value) {
      return Validator.value(value)
        .required()
        .minLength(3)
        .maxLength(50);
    },
    "form.email": {
      cache: false,
      debounce: 500,
      validator: function(value) {
        const self = this;
        let validator = Validator.value(value)
          .required()
          .email()
          .maxLength(100);
        if (validator.hasImmediateError()) {
          return validator;
        } else {
          return validator.custom(() => {
            return self.$axios
              .post("/api/web/check_email", {
                email: value
              })
              .then(res => {
                if (res.data.count > 0) {
                  return "This email is already in use.";
                }
              });
          });
        }
      }
    },
    "form.password": function(value) {
      return Validator.value(value)
        .required()
        .minLength(6)
        .maxLength(35);
    },
    "form.cont_num": function(value) {
      return Validator.value(value)
        .required()
        .regex(
          /^(03)+\d{2}-\d{3}-\d{4}$/,
          "Invalid Contact Number(e.g 0300-000-0000)"
        );
    },
    "form.cont_num1": function(value) {
      return Validator.value(value)
        .required()
        .regex(
          /^(03)+\d{2}-\d{3}-\d{4}$/,
          "Invalid Contact Number(e.g 0300-000-0000)"
        );
    },
    "form.sel_crct_id": function(value) {
      return Validator.value(value)
        .required()
        .digit()
        .maxLength(11);
    },
    "form.sel_brn_id": function(value) {
      return Validator.value(value)
        .required()
        .digit()
        .maxLength(11);
    }
  },
  methods: {
    after_f_settle: _.debounce(
      function(cb) {
        cb();
      },
      500,
      false
    ),
    after_f_settle2: _.debounce(
      function(cb) {
        cb();
      },
      500,
      false
    ),
    loadCRCT(event) {
      const self = this;
      self.isFetching = true;
      self.after_f_settle(function() {
        if (self.form.sel_crct_id !== null) {
          self.isFetching = false;
          return;
        }
        self.crct_list = [];

        if (!self.ac_crct.length) {
          self.crct_list = [];
          self.isFetching = false;
          return;
        }
        self.$axios
          .get(`/api/web/ac_crct_ls/${self.ac_crct}`)
          .then(({ data }) => {
            self.crct_list = data.result;
          })
          .catch(error => {
            self.crct_list = [];
            throw error;
          })
          .finally(() => {
            self.isFetching = false;
          });
      });
    },
    loadBrnList(crct_id) {
      const self = this;
      self.isLoadingBrn = true;
      self.after_f_settle2(function() {
        if (crct_id === null) {
          self.isLoadingBrn = false;
          return;
        }
        self.brn_list = [];
        self.$axios
          .get(`/api/web/ls_branch/${crct_id}`)
          .then(({ data }) => {
            self.brn_list = data.result;
          })
          .catch(error => {
            self.brn_list = [];
            throw error;
          })
          .finally(() => {
            self.isLoadingBrn = false;
          });
      });
    },
    validate: function() {
      return this.$validate().then(
        function(success) {
          if (success) {
            return this.form;
          }
        }.bind(this)
      );
    }
  }
};
</script>

<style lang="scss" scoped>
.form {
  padding: 0;
  /deep/ {
    .select select option {
      color: #4a4a4a !important;
    }
  }
}
li {
  font-size: 12px;
}
</style>
